<h1>"Edit Cheese {0}(id={1})" (@ViewBag.cheeses.Name, @ViewBag.cheeses.CheeseId)</h1>

<form method="post">

    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" name="@ViewBag.cheeses.Name" id="name" type="text" />
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input class="form-control" name="@ViewBag.cheeses.Description" id="description" type="text" />
    </div>

    <input type="submit" value="Edit Cheese" />
    <input type="hidden" value="@ViewBag.cheeses.CheeseId" name ="id"/>

</form>